

.container{
  width:100vw;
  min-height:10vh;
}
body{
  background-color: antiquewhite;
  color : black;
}
#root{
  display : flex;
  flex-direction: column;
  min-height:100vh;
 
}
/* .nav-bg{
  background-color: rgb(230, 185, 185);

  
} */
.navbar{
  background-color: brown;
  padding:.5em 1em;
} 
.bg-light-dark{
  background-color: rgb(58, 55, 55);
  padding: 1em 1em ;
  border-radius: 10px;
}

div.main-body.light {
  background-color : var(--var-light-mode);
  color : var(  --var-text-light);
  margin :.5em 1em; 
  padding:1em 1em;
  flex:1;
}
div.main-body.dark {
  background-color : var(--var-dark-mode);
  color : var(  --var-text-dark);
  margin :.5em 1em; 
  padding:1em 1em;
  flex:1;
}
.Main-title{
  color :blue;
  font-weight: 700;
}

.div-form{
  padding : 1em 1em;
  display: block;
  background-color: rgb(212, 220, 227);
}
.form-line{
  background-color: antiquewhite;
  margin-bottom :.5em;
}

.book-box{
  background-color: aqua;
  padding : 1em 1em;

}
.book-image{
  justify-content: center;
  text-align: center;
  max-width: max-content;
  
  
}
.book-box h2{
  color :blue;
}

.second-nav{
  display : inline-flex;
}

.body-data.light{
  background-color: var(--var-body-data-dark);
  border-radius: 10px;
  
}

.body-data.dark{
  background-color: var(--var-body-data-light);
  border-radius: 10px;
}
.body-data-list.light{
  background-color: rgb(141, 196, 206);
  color : black;
  display :flex;
  flex-wrap: wrap;
  justify-content: center;
  


} 
.body-data-list.darklight{
  background-color: rgb(237, 237, 220);
  color : black;

} 
  

.body-data-title.light{
   color : var(--var-body-data-title-light);  
   justify-content: center;
   text-align: center;
   padding: 20px 5px;
}
.body-data-title.dark{
   color : var(--var-body-data-title-dark);  
   justify-content: center;
   text-align: center;
   padding: 20px 5px;
}
.menu_option.light{
  margin:10px 10px;
  background-color: var(--var-light-mode);
  padding: 1em 1em;
  font-size: 18px;
  font-weight: 700;
}
.menu_option.dark{
  margin:10px 10px;
  background-color: var(--var-dark-mode);
  padding: 1em 1em;
  font-size: 18px;
  font-weight: 700;
}


.button-selection.light{
  background-color: var(--var-form-bg-light);
  padding : 1em 1em;
}
.button-selection.dark{
  background-color: var(--var-form-bg-dark);
  padding : 1em 1em;
}

.form.light{
  background-color: var(--var-form-bg-light);
  width :max-content;
  padding : 1em 2em;
  margin : auto;
}
.form.dark{
  background-color: var(--var-form-bg-dark);
  width :fit-content;
  padding : 1em 1em;
  margin : auto;
}
.form .row{
  margin-bottom: .5em;
  padding : 0 1.5em;
}

.form-radiotext.light{
  color :var(--var-form-bg-dark);

  
}
.form-radiotext.dark{
  color :var(--var-form-bg-light);
    
}
input.radiobutton{
  margin-left : 20px;
  cursor : pointer;
 width : 15px;
}

label.form-text.light{
  color: var(--var-form-bg-dark);
    font-size: 18px;
}
label.form-text.dark{
  color: var(--var-form-bg-light);
    font-size: 18px;
}

.card-parent{
  background-color: aqua;
  display: block;

}
 /* content retreived display */

.data-list.light{
  display : flex;
  flex-wrap: wrap;
  justify-content: center;
}
.data-list.dark{
  display : flex;
  flex-wrap: wrap;
  justify-content: center;
}
.employee-card-image {
  display:flex;
  margin : auto;
}
.employee-card-image img{
  width : 10em;
}
.data-list .card .card-title{
  color : red;

}
.card.light{
  background-color: var(--var-card-light);
  
  width: 15em;
  margin :10px 10px;
  padding : 10px;
  
}
.card.dark{
  background-color: var(--var-card-dark);
    width: 15em;
  margin :10px 10px;
  padding : 10px;
  
}

.card-title.light{
  color : var(--var-card-title-light);

}
.card-title.dark{
  color : var(--var-card-title-dark);

}
.dummyproduct-img{
  width: 5em;
  margin:0 auto;
  
}

.img-books{
  width: 5em;
  height: auto;
  margin:0 auto;
}
.btn-group{
  display : flex;
  justify-content: space-between;
}

.button-update{
  /* background-color: aqua; */

}
.button-delete{
  /* background-color: red; */
}
.btn{
  font-size: 15px;
  padding : 8px 20px;
  border-radius: 4px;
  outline: none;
  border :none;
  color : #ffff;
  cursor : pointer;
  background-color:var(--primary) ;

}
.btn:hover{
  background-color: rgb(119, 187, 147);
  padding : 6px 10px;
  transition: all 0.3s ease;
  border-radius: 4px;
  outline: auto;
  border :none;
}
.card button.btn.btn-danger{
  font-size: 15px;
  width: 3em;

}
.form-data.light{
  background-color: var(--var-body-data-light);
}
.form-control{
  display:fflex;
  justify-content:space-evenly
}