body{
  background-color: antiquewhite;
  color : black;
}
#root{
  display : flex;
  flex-direction: column;
  min-height:100vh;
 
}
/* .nav-bg{
  background-color: rgb(230, 185, 185);

  
} */
.navbar{
  background-color: brown;
  padding:.5em 1em;
} 
.bg-light-dark{
  background-color: rgb(58, 55, 55);
  padding: 1em 1em ;
  border-radius: 10px;
  

}
  



.Main-title{
  color :blue;
  font-weight: 700;
}
.main-body{
  background-color: rgb(246, 241, 241);
  color : rgb(65, 19, 19);
  margin :.5em 1em;
  padding:1em 1em;
  flex:1;
}

